.marco {
    background-color: rgb(32,34,33);
}

.cabezera {
    height: 5vh;
    width: 100vw;
    display: table;
    background-color: black;
    align-content: center;
    align-items: center;
    color: whitesmoke;
}

.alerta {
    align-self: center;
    text-align: center;
    vertical-align: middle;
    display: table-cell;

}