.developementAreaContainer {
  display: grid;
  grid-template-columns: repeat(2, 48vw);
  height: 100vh;
  gap: 1em;
  height: auto;
  padding: 10px;
  margin-top: -2vh;
  background-color: #424348;
}
