.codeEditorContainer {
  height: 75vh;
  background-color: #485d6e;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.header {
  height: 10vh;
  background-color: #586979;
  border-radius: 5px 5px 0px 0px;
  color: whitesmoke;
  padding: 10 px;
}

p {
  display: inline-block;
}

button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  background-color: rgb(66,67,72);
  color:rgb(230, 230, 230);
  border-style: none;
  border-radius:2px;
  font-family: arial;
  font-size: 16px;
  box-sizing: border-box;
}

select {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  background-color: rgb(66,67,72);
  color:rgb(230, 230, 230);
  border-style: none;
  border-radius:2px;
  font-family: arial;
  font-size: 16px;
  box-sizing: border-box;
}

button:hover {
  border-style: solid;
  border-color: rgb(30,30,30);
}

button:active {
  border-style: solid;
  border-color: orangered;
}

.titulo {
  align-self:center;
  margin-left: 1vw;
  margin-top: 2.2vh;
  color:rgb(214, 214, 214);
}